body {
    background-color: rgb(91, 133, 229);
}

main {
    text-align: center;
}

.top-city-title {
    display: inline-block;
    white-space: nowrap;
}

.white-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(3, 2, 3);
    background-position: center;
    background-size: cover;
    text-align: center;
    background: rgb(19, 53, 79);
    background-color: rgb(211, 208, 208);
    margin-left: 100px;
    margin-right: 100px;
}

.teal {
    color: teal;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.red {
    color: red;
}


/* ----- Footer ----- */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



