body {
    background-color: rgb(63, 109, 214);
}

.white-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(3, 2, 3);
    background-position: center;
    background-size: cover;
    text-align: center;
    background: rgb(19, 53, 79);
    background-color: whitesmoke;
}

.teal {
    color: teal;
}